{:main [{:des "Caps Lock to Escape"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "Vim mode"
         :rules [[:!Th :left_arrow]
                 [:!Tj :down_arrow]
                 [:!Tk :up_arrow]
                 [:!Tl :right_arrow]
                 [:!Tq :volume_decrement]
                 [:!Tw :volume_increment]
                 [:!Te :mute]]}]}

